# macOS
.DS_Store

# Frontend
FRONTEND/node_modules/
FRONTEND/.next/
FRONTEND/dist/

# Backend
BACKEND/target/

# Spring Boot
BACKEND/src/main/resources/application.properties

# IDE
.idea/
.vscode/

# Local environment files
.env
.env.*
!.env.example

# Local logs
FRONTEND/logs/
BACKEND/logs/

# Sensitive database dumps in DB/
DB/*.sql
